<h3 class="form-header">{{ localize "MNM3E.ItemActionDetails" }}</h3>
<div class="form-group select">
    <label>
        {{ localize "MNM3E.ItemActionType" }}
    </label>
    <!-- Action Type dropdown -->
    <div class="form-fields">
        <select name="data.action.type.value" {{#if data.data.action.type.override}}disabled{{/if}}="">
            {{#select data.data.action.type.value}}
                <option value="">                    
                </option>
                {{#each config.actionTypes as |localizedName name|}}
                    <option value="{{name}}">
                        {{ localizedName }}
                    </option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</div>
{{#if (or data.data.action.type.value (eq item.type "modifier")) }}
    <div class="form-group expanding-group">
        <div class="flexcol">
            <div class="form-group select">
                <label>
                    {{ localize "MNM3E.AttackCheck" }}
                </label>
                <div class="form-fields">
                    <select name="data.action.roll.attack.rollType.value" {{#if data.data.action.roll.attack.rollType.override}}disabled{{/if}}="">
                        {{#select data.data.action.roll.attack.rollType.value}}
                            {{#if (eq item.type "modifier")}}
                                <option value="">                        
                                </option>
                            {{/if}}
                            {{#each config.rollTypes as |localizedName name|}}
                                <option value="{{name}}">{{ localizedName }}
                                </option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
            {{#if (or (and data.data.action.roll.attack.rollType.value (ne data.data.action.roll.attack.rollType.value "none")) (eq item.type "modifier"))}}
                <div class="formula-content flexcol">
                    <div class="formula-builder-header flexrow">
                        <h4>
                            {{ localize "MNM3E.FormulaBuilder" }}
                        </h4>
                        <a class="check-control" title="{{ localize 'MNM3E.Add' }}" data-action="create" data-data-path="data.action.roll.attack.formula.value">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                    <div class="hidden-data" style="display: none;">
                        <input type="text" name="data.action.roll.attack.formula.override" value="{{data.data.action.roll.attack.formula.override}}" data-dtype="Boolean" readonly="readonly" />
                        <input type="text" name="data.action.roll.attack.formula.numOverrides" value="{{data.data.action.roll.attack.formula.numOverrides}}" data-dtype="Number" readonly="readonly" />
                    </div>
                    {{#each data.data.action.roll.attack.formula.value as |formula idx|}}
                        <div class="form-group formula-builder">
                            <div class="form-fields">
                                {{#if (lt idx ../data.data.action.roll.attack.formula.numOverrides)}}
                                    <input type="text" name="data.action.roll.attack.formula.value.{{idx}}.op" value="{{lookup this 'op'}}" data-dtype="String" readonly="readonly" />
                                {{else}}
                                    <select name="data.action.roll.attack.formula.value.{{idx}}.op">
                                        {{#select (lookup this "op") }}
                                            <option value="+">+</option>
                                            <option value="-">-</option>
                                        {{/select}}
                                    </select>
                                {{/if}}
                            </div>
                            <div class="form-fields score-dropdown">
                                {{#if (lt idx ../data.data.action.roll.attack.formula.numOverrides)}}
                                    <input type="text" name="data.action.roll.attack.formula.value.{{idx}}.dataPath" value="{{lookup this 'dataPath'}}" data-dtype="String" readonly="readonly" />
                                {{else}}
                                    <select name="data.action.roll.attack.formula.value.{{idx}}.dataPath">
                                        {{#select (lookup this "dataPath")}}
                                            {{#each ../formulaOptions as |fo|}}
                                                <optgroup label="{{fo.label}}">
                                                    {{selectOptions fo.entries}}
                                                </optgroup>
                                            {{/each}}
                                            <option value="formula">
                                                {{ localize "MNM3E.Formula" }}
                                            </option>
                                        {{/select}}
                                    </select>
                                {{/if}}
                            </div>
                            {{#if (eq (lookup this "dataPath") "formula")}}
                                <input type="text" name="data.action.roll.attack.formula.value.{{idx}}.value" value="{{formula.value}}" data-dtype="String" {{#if (lt idx ../data.data.action.roll.attack.formula.numOverrides)}}readonly{{/if}}="" />{{/if}}
                                {{#if (not (lt idx ../data.action.roll.attack.formula.numOverrides))}}
                                    <a class="check-control" title="{{ localize 'MNM3E.Delete' }}" data-action="delete" data-data-path="data.action.roll.attack.formula.value" data-index="{{idx}}">
                                        <i class="fas fa-minus">
                                        </i>
                                    </a>
                                {{else}}
                                    <div class="dummy">                        
                                    </div>
                                {{/if}}
                        </div>
                    {{/each}}
                    <div class="form-group score-choice">
                        <label>
                            {{ localize "MNM3E.Versus"}}
                        </label>
                        <div class="form-fields">
                            <select name="data.action.roll.attack.targetScore.type.value" {{#if data.data.action.roll.attack.targetScore.type.override}}disabled{{/if}}="">
                                {{#select data.data.action.roll.attack.targetScore.type.value}}
                                    {{#if (eq item.type "modifier")}}
                                        <option value=""></option>
                                    {{/if}}
                                    {{#each formulaOptions as |fo|}}
                                        <optgroup label="{{fo.label}}">
                                            {{selectOptions fo.entries}}
                                        </optgroup>
                                    {{/each}}
                                    <option value="custom">
                                        {{ localize "MNM3E.Custom" }}
                                    </option>
                                {{/select}}
                            </select>
                        </div>
                        {{#if (eq data.data.action.roll.attack.targetScore.type.value "custom")}}
                            <input type="text" name="data.action.roll.attack.targetScore.custom.value" value="{{data.data.action.roll.attack.targetScore.custom.value}}" data-dtype="String" 
                            {{#if data.data.action.roll.attack.targetScore.custom.override}}disabled{{/if}}="" />
                        {{/if}}
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
    <div class="form-group expanding-group">
        <div class="flexcol">
            <div class="form-group select">
                <label>
                    {{ localize "MNM3E.ResistDC" }}
                </label>
                <div class="form-fields">
                    <select name="data.action.roll.resist.rollType.value" {{#if data.data.action.roll.resist.rollType.override}}disabled{{/if}}="">
                        {{#select data.data.action.roll.resist.rollType.value}}
                            {{#if (eq item.type "modifier")}}
                                <option value="">                                
                                </option>
                            {{/if}}
                            {{#each config.rollTypes as |localizedName name|}}
                                <option value="{{name}}">
                                    {{ localizedName }}
                                </option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
            {{#if (or (and data.data.action.roll.resist.rollType.value (ne data.data.action.roll.resist.rollType.value "none")) (eq item.type "modifier"))}}<div class="formula-content flexcol">
                <div class="formula-builder-header flexrow">
                    <h4>
                        {{ localize "MNM3E.FormulaBuilder" }}
                    </h4>
                    <a class="check-control" title="{{ localize 'MNM3E.Add' }}" data-action="create"
                        data-data-path="data.action.roll.resist.formula.value">
                        <i class="fas fa-plus">
                        </i>
                    </a>
                </div>
                <div class="hidden-data" style="display: none;"><input type="text"
                        name="data.action.roll.resist.formula.override" value="{{data.action.roll.resist.formula.override}}"
                        data-dtype="Boolean" readonly="readonly" />
                            <input type="text" name="data.action.roll.resist.formula.numOverrides" value="{{data.data.action.roll.resist.formula.numOverrides}}" data-dtype="Number" readonly="readonly" />
                </div>
                {{#each data.data.action.roll.resist.formula.value as |formula idx|}}
                    <div class="form-group formula-builder">
                        <div class="form-fields">
                            {{#if (lt idx ../data.data.action.roll.resist.formula.numOverrides)}}
                                <input type="text" name="data.action.roll.resist.formula.value.{{idx}}.op" value="{{lookup this 'op'}}" data-dtype="String" readonly="readonly" />
                            {{else}}
                                <select name="data.action.roll.resist.formula.value.{{idx}}.op">
                                    {{#select (lookup this "op") }}
                                        <option value="+">+</option>
                                        <option value="-">-</option>
                                    {{/select}}
                                </select>
                            {{/if}}
                        </div>
                        <div class="form-fields score-dropdown">
                            {{#if (lt idx ../data.data.action.roll.resist.formula.numOverrides)}}
                                <input type="text" name="data.action.roll.resist.formula.value.{{idx}}.dataPath" value="{{lookup this 'dataPath'}}"
                                data-dtype="String" readonly="readonly" />
                            {{else}}
                                <select name="data.action.roll.resist.formula.value.{{idx}}.dataPath">
                                    {{#select (lookup this "dataPath")}}
                                        {{#each ../formulaOptions as |fo|}}
                                            <optgroup label="{{fo.label}}">
                                                {{selectOptions fo.entries}}
                                            </optgroup>
                                        {{/each}}
                                        <option value="formula">
                                            {{ localize "MNM3E.Formula" }}
                                        </option>
                                    {{/select}}
                                </select>
                            {{/if}}
                        </div>
                        {{#if (eq (lookup this "dataPath") "formula")}}
                            <input type="text" name="data.action.roll.resist.formula.value.{{idx}}.value" value="{{formula.value}}"
                            data-dtype="String" {{#if (lt idx ../data.data.action.roll.resist.formula.numOverrides)}}readonly{{/if}}="" />{{/if}}
                            {{#if (not (lt idx ../data.data.action.roll.resist.formula.numOverrides))}}
                                <a class="check-control" title="{{ localize 'MNM3E.Delete' }}" data-action="delete"
                                data-data-path="data.action.roll.resist.formula.value" data-index="{{idx}}">
                                    <i class="fas fa-minus">                                    
                                    </i>
                                </a>
                            {{else}}
                                <div class="dummy">                                
                                </div>
                            {{/if}}
                    </div>
                {{/each}}
                    <div class="form-group score-choice">
                        <label>
                            {{ localize "MNM3E.Versus"}}
                        </label>
                        <div class="form-fields">
                            <select name="data.action.roll.resist.targetScore.type.value" {{#if
                                data.data.action.roll.resist.targetScore.type.override}}disabled{{/if}}="">
                                {{#select data.data.action.roll.resist.targetScore.type.value}}
                                    {{#if (eq item.type "modifier")}}
                                        <option value="">                                        
                                        </option>
                                    {{/if}}
                                    {{#each formulaOptions as |fo|}}
                                        <optgroup label="{{fo.label}}">
                                            {{selectOptions fo.entries}}
                                        </optgroup>
                                    {{/each}}
                                    <option value="custom">
                                        {{ localize "MNM3E.Custom" }}
                                    </option>
                                {{/select}}
                            </select>
                        </div>
                        {{#if (eq data.action.roll.resist.targetScore.type.value "custom")}}
                            <input type="text" name="data.action.roll.resist.targetScore.custom.value"
                                value="{{data.data.action.roll.resist.targetScore.custom.value}}" data-dtype="String" {{#if
                                data.data.action.roll.resist.targetScore.custom.override}}disabled{{/if}}="" />
                        {{/if}}
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
{{/if}}