<ol class="bordered-section items-list {{ type }}-list item-{{ type }}-controls">
    <li class="items-header section-header flexrow">
        <h3 class="item-name">{{ header }}</h3>
        {{#if sections}}
            {{#each sections.headers as |sectionName|}}
                <h3 class="section-name">{{ sectionName }}</h3>
            {{/each}}
        {{/if}}
        {{#if (not hideControls)}}
            <a class="item-control" title="{{ localize 'MNM3E.ItemCreate' }}" data-action="create" data-item-type="{{ type }}">
                <i class="fas fa-plus {{iconClass}}"></i>
            </a>
        {{/if}}
    </li>
    <ol class="item-list" data-data-path="{{dataPath}}">
        {{#each items as |item|}}
            <li class="item flexrow" data-item-id="{{item._id}}" data-item-index="{{@index}}">
                <div class="item-name flexrow">
                    <div class="item-image" style="background-image: url('{{item.img}}')">
                    </div>
                    <h4> 
                        {{#if item.data.summary.parsed}} {{item.data.summary.parsed}} {{else}} {{item.name}} {{/if}}
                    </h4>
                </div>
                {{#if ../sections}}
                    {{#each (lookup ../sections.rows @index) as |detail|}}
                        <div class="section-detail">{{ detail }}</div>
                    {{/each}}
                {{/if}}
                {{#if (not ../hideControls)}}
                    <div class="item-controls flexrow">
                        {{#if ../canFavorite}}
                            <a class="item-control" title="{{ localize 'MNM3E.Favorite' }}" data-action="favorite" data-index="{{@index}}">
                                <i class="fa-star {{#if item.flags.mnm3e.isFavorite}}fas{{else}}far{{/if}} {{../iconClass}}"></i>
                            </a>
                        {{/if}}
                        <a class="item-control" title="{{ localize 'MNM3E.Edit' }}" data-action="edit" data-index="{{@index}}">
                            <i class="fas fa-edit {{../iconClass}}"></i>
                        </a>
                        <a class="item-control" title="{{ localize 'MNM3E.Delete' }}" data-action="delete" data-index="{{@index}}">
                            <i class="fas fa-trash {{../iconClass}}"></i>
                        </a>
                    </div>
                {{/if}}
            </li>
        {{/each}}
    </ol>
</ol>