<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header"><img class="profile" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        <section class="header-details flexrow">
            <div class="top-info flexrow">
                <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'MNM3E.Name' }}" /></h1>
                <aside class="form-group header-powerlevel">
                    <div class="header-power powerlevel">
                        <label>{{ localize "MNM3E.PowerLevel" }}:</label>
                        <input type="number" name="data.attributes.powerLevel" value="{{data.data.attributes.powerLevel}}" data-dtype="Number" placeholder="1" />
                    </div>
                    <div class="header-power earned-power-points">
                        <label>{{ localize "MNM3E.EarnedCharacterPoints"}}:</label>
                        <input type="number" name="data.earnedCharacterPoints" value="{{data.data.earnedCharacterPoints}}" data-dtype="Number" placeholder="0" />
                    </div>
                    <div class="header-power max-points">
                        <div>
                            <span>
                                <i class="lock-button fas {{#if actor.flags.mnm3e.overrideMaxPoints}}fa-unlock{{else}}fa-lock{{/if}}"></i>
                            </span>
                            <label>{{ localize "MNM3E.MaxCharacterPoints" }}:</label>
                        </div>
                        <input type="number" name="data.maxPoints" value="{{data.data.maxPoints}}" data-dtype="Number" placeholder="{{data.data.maxPoints}}" {{#if (not
                            actor.flags.mnm3e.overrideMaxPoints)}}disabled{{/if}}="" />
                    </div>
                </aside>
            </div>
            <ul class="summary flexrow">
                {{#each summary as |summary|}}
                    <li>
                        <input type="text" name="{{ summary.name }}" value="{{ summary.value }}" placeholder="{{ localize summary.localizedKey }}" />
                    </li>
                {{/each}}
            </ul>
            <ul class="attributes flexrow">
                <li class="attribute initiative">
                    <h4 class="attribute-name">{{ localize "MNM3E.Initiative" }}</h4>
                    <div class="attribute-value">
                        <span>{{numberFormat data.data.attributes.initiative decimals=0 sign=true}}</span>
                    </div>
                </li>
                <li class="attribute movement">
                    <h4 class="attribute-name">{{ localize "MNM3E.Movement" }}</h4>
                    <div class="attribute-value">
                        <span>{{ movement.main }}</span>
                    </div>
                    <footer class="attribute-footer">
                        <span>{{ movement.special }}</span>
                    </footer>
                </li>
                <li class="attribute victory-points">
                    <h4 class="attribute-name">{{ localize "MNM3E.VictoryPoints" }}</h4>
                    <div class="attribute-value">
                        <input type="number" name="data.victoryPoints" value="{{data.data.victoryPoints}}" />
                    </div>
                </li>
                <li class="attribute penalty-points">
                    <h4 class="attribute-name">{{ localize "MNM3E.PenaltyPoints" }}</h4>
                    <div class="attribute-value">
                        <input type="number" name="data.attributes.penaltyPoints" value="{{data.data.attributes.penaltyPoints}}" placeholder="0" />
                    </div>
                </li>
            </ul>
        </section>
    </header>
    <section class="cost-breakdown flexrow">        
        {{#each data.data.pointCosts as |cost|}}
            <div class="point-cost">
                <label>{{cost.label }}:</label>
                <span class="{{cost.cssClass}}">{{ cost.value }}</span>
            </div>
        {{/each}}
    </section>
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="core"> {{ localize "MNM3E.Core" }}</a>
        <a class="item" data-tab="catalog">{{ localize "MNM3E.Catalog" }}</a>
        <a class="item" data-tab="notes">{{ localize "MNM3E.Notes" }}</a>
        <a class="item" data-tab="effects">{{ localize "MNM3E.Effects" }}</a>
    </nav>
    <section class="sheet-body">
        <div class="tab core flexrow" data-group="primary" data-tab="core">
            {{> "systems/mnm3e/templates/actors/parts/character-core.html" }}
        </div>
        <div class="tab powers" data-group="primary" data-tab="catalog">
            {{> "systems/mnm3e/templates/actors/parts/character-catalog.html" }}
        </div>
        <div class="tab notes" data-group="primary" data-tab="notes">
            {{> "systems/mnm3e/templates/actors/parts/actor-notes.html" }}
        </div>
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/mnm3e/templates/actors/parts/actor-effects.html" }}
        </div>
    </section>
</form>