<form class="summary-builder stacked" autocomplete="off">
    <label>{{ localize "MNM3E.SummaryFormat" }}</label>
        <div class="form-group select-input">
            {{#if (eq type "modifier")}}
                <div class="form-fields">
                    <select name="data.summary.position">
                        {{#select data.data.summary.position}} 
                            {{#each config.summaryPositions as |localizedName name|}}
                                <option value="{{name}}">{{localizedName}}
                                </option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
            {{/if}}
            <input type="text" name="data.summary.format" value="{{data.summary.format}}" data-dtype="String" />
        </div>
        <button class="save-control" type="submit" name="submit" value="1">
            <i class="fas fa-save"></i> {{ localize "Submit" }}
        </button>
</form>