<div class="notes-entries complication-notes flexcol">
    <article class="flexcol">
        <h3 class="article-title">
            {{ localize "MNM3E.Complications" }}
        </h3>
        {{editor content=data.data.info.complications target="data.data.info.complications" button=true owner=owner editable=editable}}
    </article>
</div>
<div class="background-info flexrow">
    <div class="notes-entries background-notes left-notes flexcol">
        <article class="flexcol">
            <h3 class="article-title">{{ localize "MNM3E.Background" }}</h3>
            {{editor content=data.data.info.background target="data.data.info.background" button=true owner=owner editable=editable}}
        </article>
    </div>
        {{#if (eq actor.type "character")}}
            <div class="notes-entries journal-notes right-notes flexcol">
                <article class="flexcol">
                    <h3 class="article-title">{{ localize "MNM3E.Notes" }}</h3>
                    {{editor content=data.data.info.notes target="data.data.info.notes" button=true owner=owner editable=editable}}
                </article>
            </div>
        {{/if}}
    </div>